:root {
  --primary-color: #6f42c1;
  --secondary-color: #00892e;
  

  --primary-bg-color: #6f42c1;
  --secondary-bg-color: #6f42c1;
  --bs-nav-link-color: #6f42c1;
}

.btn-flat {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.nav-link {
  color:black !important;
}

/* .nav-underline .nav-link:focus, .nav-underline .nav-link:hover {
  border: none !important;
  cursor:pointer;
} */

.nav-link .active {
  color: black !important;
}

/* .Steps {
  background-color: white;
} */

.navigation {
  width: 100%;
  /* position: absolute;
  bottom: 15px; */
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
